<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>{$title|default = '直播管理后台'}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动设备 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="admui.com">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- Chrome浏览器添加桌面快捷方式（安卓） -->
    <link rel="icon" type="image/png" href="__ABS__/assets/admui/images/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Safari浏览器添加到主屏幕（IOS） -->
    <link rel="icon" sizes="192x192" href="__ABS__/assets/admui/images/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Admui">
    <!-- Win8标题栏及ICON图标 -->
    <link rel="apple-touch-icon-precomposed" href="__ABS__/assets/admui/images/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="__ABS__/assets/admui/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#62a8ea">

    <!--[if lte IE 9]>
    <meta http-equiv="refresh" content="0; url='__ABS__/ie'" />
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="__ABS__/assets/admui/vendor/media-match/media.match.min.js"></script>
    <script src="__ABS__/assets/admui/vendor/respond/respond.min.js"></script>
    <![endif]-->

    <!-- 样式 -->
    <link rel="stylesheet" href="__ABS__/assets/admui/vendor/layui/css/layui.css">
    <link rel="stylesheet" href="__ABS__/assets/admui/themes/global/css/bootstrap.css">
    <link rel="stylesheet" href="__ABS__/assets/admui/themes/base/css/index.css" id="admui-siteStyle">


    <!-- Site CSS -->
    <link rel="stylesheet" href="__ABS__/assets/admui/themes/base/css/site.css" id="admui-siteStyle1">

    <!-- 图标 CSS-->
    <link rel="stylesheet" href="__ABS__/assets/admui/fonts/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="__ABS__/assets/admui/fonts/web-icons/web-icons.css">

    <!-- 插件 CSS -->

    <link rel="stylesheet" href="__ABS__/assets/admui/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="__ABS__/assets/admui/vendor/toastr/toastr.css">
    <link rel="stylesheet" href="__ABS__/assets/admui/vendor/nprogress/nprogress.css">
    <link rel="stylesheet" href="__ABS__/assets/admui/vendor/mCustomScrollbar/jquery.mCustomScrollbar.css">

    <!-- 插件 CSS -->

    <link rel="stylesheet" href="__ABS__/assets/admui/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="__ABS__/assets/admui/vendor/select2/select2.css">
    <link rel="stylesheet" href="__ABS__/assets/admui/vendor/datatables-bootstrap/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="__ABS__/assets/admui/vendor/datatables-responsive/dataTables.responsive.css">

    <!-- Page CSS -->
    <link rel="stylesheet" href="__ABS__/assets/admui/css/system/log.css">
    <link rel="stylesheet" href="__ABS__/assets/admui/css/admin/new-common.css">


    <!-- 插件 -->
    <script src="__ABS__/assets/admui/vendor/jquery/jquery.min.js"></script>
    <script src="__ABS__/assets/admui/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="__ABS__/assets/admui/vendor/lodash/lodash.min.js"></script>

    <script src="__ABS__/assets/admui/vendor/breakpoints/breakpoints.min.js"></script>
    <script src="__ABS__/assets/admui/vendor/nprogress/nprogress.js"></script>
    <script src="__ABS__/assets/admui/vendor/artTemplate/template-web.js"></script>
    <script src="__ABS__/assets/admui/vendor/layui/layui.all.js"></script>

    <!-- 核心  -->
    <script src="__ABS__/assets/admui/themes/global/js/core.js"></script>
    <script src="__ABS__/assets/admui/themes/global/js/configs/site-configs.js"></script>
    <script src="__ABS__/assets/admui/themes/global/js/components.js"></script>


    <!-- 插件 -->
    <script src="__ABS__/assets/admui/themes/global/js/plugins/responsive-tabs.js"></script>
    <script src="__ABS__/assets/admui/vendor/toastr/toastr.min.js"></script>
    <script src="__ABS__/assets/admui/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>
    <script src="__ABS__/assets/admui/vendor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="__ABS__/assets/admui/vendor/screenfull/screenfull.min.js"></script>

    <!-- 消息通知 -->
    <script src="__ABS__/assets/admui/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="__ABS__/assets/admui/vendor/lodash/lodash.min.js"></script>

    <script src="__ABS__/assets/admui/vendor/matchheight/jquery.matchHeight.min.js"></script>
    <script src="__ABS__/assets/admui/vendor/moment/moment.min.js"></script>
    <script src="__ABS__/assets/admui/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="__ABS__/assets/admui/vendor/select2/select2.min.js"></script>
    <script src="__ABS__/assets/admui/vendor/select2/i18n/zh-CN.js"></script>
    <script src="__ABS__/assets/admui/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="__ABS__/assets/admui/vendor/datatables-bootstrap/dataTables.bootstrap4.js"></script>
    <script src="__ABS__/assets/admui/vendor/datatables-responsive/dataTables.responsive.min.js"></script>

    <!--js配置 初始化-->
    <script src="__ABS__/assets/admui/themes/base/js/app.js"></script>

    <script>
        "use strict";

        Breakpoints();
    </script>
</head>


