select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    color: #666;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: normal;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color:#95a5a6;
}
input::-moz-placeholder,textarea::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#95a5a6;
}
input:-moz-placeholder,textarea:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#95a5a6;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#95a5a6;
}
.control-label{
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
    height: 32px;
    line-height: 32px;
}
.controls{
    display: inline-block;
    padding-left: 20px;
    margin-left: 0;
}
.radio-line-height{
    margin-top: 0.4rem;
}

textarea{
    padding: 6px 6px;
    text-indent: 1px;
    border: 2px solid #dce4ec;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.controls > input{
    padding: 6px 6px;
    text-indent: 1px;
    border: 2px solid #dce4ec;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 38px;
    overflow: hidden;
}
.controls > input[type="file"]{
    margin: 0;
    border: none;
}

.controls > button[type=submit]{
    width: 200px;
}
.website_image{
    width:140px;height:140px;border: 1px dashed #e2e2e2; padding: 2px;display: block;margin-bottom: 4px
}