<footer class="site-footer">
    <div class="site-footer-right">
        直播管理后台 - 当前版本：v1.0.0
        <a class="ml-5" data-toggle="tooltip" title="购买或升级" href="__ABS__" target="_blank">
            <i class="icon fa-cloud-upload"></i>
        </a>
    </div>
</footer>

<!-- 插件 -->
<script src="__ABS__/assets/admui/themes/global/js/plugins/responsive-tabs.js"></script>

<script src="__ABS__/assets/admui/vendor/toastr/toastr.min.js"></script>
<script src="__ABS__/assets/admui/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>
<script src="__ABS__/assets/admui/vendor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="__ABS__/assets/admui/vendor/screenfull/screenfull.min.js"></script>

<!-- 消息通知 -->
<!--<script src="__ABS__/assets/admui/js/notify-msg.js"></script>-->
</body>
</html>